*Untitled.ipynb
.env
.eslintcache
.grunt
.idea
.ipynb_checkpoints
.lock-wscript
.next
.node_repl_history
.npm
.nyc_output
.run

# ignore everything in .vscode/ except launch.json
!/.vscode/
/.vscode/*
!/.vscode/launch.json
!/.vscode/settings.json

.yarn-integrity
bower_components
build/Release
coverage
# declarations/

dist/
# dist/Salamander
# dist/**/*.zip
# dist/**/*.d.ts

env
env3*
errors/*
ignore/
jspm_packages/
lib-cov
logs
node_modules/
npm-debug.log*
pids
src/SalamanderOLD/
src/experiments/truths.zip
tests/python/tmp/
typings/
yarn-debug.log*
yarn-error.log*
#*.d.ts
#*.d.ts.map
*.js.map
*.log
*.mp4
*.pid
*.pid.lock
*.rar
*.seed
*.tgz
*egg-info*
__pycache__
