attrs==19.3.0
backcall==0.1.0
certifi==2019.9.11
chardet==3.0.4
decorator==4.4.1
idna==2.8
ipython==7.9.0
ipython-genutils==0.2.0
jedi==0.15.1
more-itertools==8.0.0
-e git+https://github.com/giladbarnea/bashscripts.git@2f187cef9061230797579210a79dd724849d9ed9#egg=mytool&subdirectory=mytool
packaging==19.2
parso==0.5.1
pexpect==4.7.0
pickleshare==0.7.5
pluggy==0.13.1
prompt-toolkit==2.0.10
ptyprocess==0.6.0
py==1.8.0
-e git+https://github.com/giladbarnea/pyano-2.0.git@91223806587e8faa36e9e42219d3680153ffd93a#egg=pyano2&subdirectory=src/engine
Pygments==2.4.2
pyparsing==2.4.5
pytest==5.3.1
requests==2.22.0
six==1.13.0
traitlets==4.3.3
urllib3==1.25.7
wcwidth==0.1.7
