@charset "UTF-8";
@font-face {
  font-family: "Roboto";
  src: url(./assets/roboto/Roboto-Regular.ttf);
}
@font-face {
  font-family: "Roboto Thin";
  src: url(./assets/roboto/Roboto-Thin.ttf);
}
@font-face {
  font-family: "Roboto Light";
  src: url(./assets/roboto/Roboto-Light.ttf);
}
html {
  min-height: 100%;
}

body {
  background-color: #181818;
  color: white;
  font-family: "Roboto", serif;
  padding: 10px 30px;
  margin: 0;
}

h1 {
  margin-top: unset;
  margin-right: unset;
  margin-bottom: 30px;
  margin-left: unset;
  font-size: 48px;
  font-weight: normal;
  color: rgba(255, 255, 255, 0.9);
  letter-spacing: -0.5px;
}
h1 #title {
  margin-bottom: 60px;
}

h2 {
  margin-top: unset;
  margin-right: unset;
  margin-bottom: 30px;
  margin-left: unset;
  font-size: 36px;
  font-weight: lighter;
  font-family: "Roboto Light";
  color: rgba(255, 255, 255, 0.9);
  letter-spacing: -0.5px;
}

h3 {
  margin-top: unset;
  margin-right: unset;
  margin-bottom: 15px;
  margin-left: unset;
  font-size: 28px;
  font-weight: lighter;
  font-family: "Roboto Light";
  color: rgba(255, 255, 255, 0.8);
}

div.input {
  display: flex;
}
div.input:hover {
  cursor: text;
}
div.input > span {
  margin: auto 0;
}
div.input > span.editable:focus {
  outline: unset;
}

button {
  padding: 15px;
}
button.warn {
  background-color: #FFC66D;
  color: black;
}
button:not([class~=swal2]) {
  border-radius: 2px;
  border-width: 0;
  cursor: pointer;
  text-align: center;
}
button:not([class~=swal2]):focus {
  outline: unset;
}
button:not([class~=swal2]).active {
  background-color: #1db954;
  color: white;
}
button:not([class~=swal2]).inactive {
  background-color: rgba(255, 255, 255, 0.5);
  color: rgba(255, 255, 255, 0.5);
}
button:not([class~=swal2]).inactive:hover {
  box-shadow: unset;
}

select {
  border-radius: 0.5rem;
  border-width: 0;
  font-family: unset;
  padding: 1vh 1vw 1vh 1vw;
  transition: box-shadow 0.2s;
}
select > option {
  border-radius: 0.5rem;
  border-width: 0;
  font-family: unset;
  padding: 0.5vw;
}
select:focus {
  outline: unset;
  box-shadow: 0px 0px 2px 3px #647896;
}
select[class~=disabled] {
  background: rgba(255, 255, 255, 0.7);
  color: rgba(0, 0, 0, 0.5);
}

input, div.input {
  background-color: white;
  border-radius: 2px;
  border: unset;
  color: black;
  font: unset;
  height: min-content;
  padding: 15px;
  width: 400px;
}
input.invalid, div.invalid.input {
  background-color: lightpink;
}
input:focus, div.input:focus {
  outline: unset;
}

#navigation_buttons {
  position: sticky;
  width: fit-content;
  left: 100%;
}
#navigation_buttons > button {
  background-color: #181818;
  background-repeat: no-repeat;
  opacity: 0.7;
  width: 25px;
  height: 30px;
}
#navigation_buttons > button:hover {
  opacity: 1;
  background-color: #444;
  outline: unset;
}
#navigation_buttons > button.exit {
  background-image: url(./assets/exit.png);
}
#navigation_buttons > button.minimize {
  background-image: url(./assets/minimize.png);
}

div#app {
  display: flex;
}
div#app div#sidebar {
  border-right-color: rgba(255, 255, 255, 0.1);
  border-right-style: inset;
  border-width: 1px;
  display: flex;
  flex-direction: column;
  width: 100px;
}
div#app div#sidebar > span.sidebar-item {
  color: rgba(255, 255, 255, 0.5);
  cursor: pointer;
  margin-bottom: 20px;
  margin-right: 20px;
}
div#app div#sidebar > span.sidebar-item.selected {
  color: white;
}
div#app div#main_content {
  width: -webkit-fill-available;
  margin-left: 40px;
}

div.input-section {
  margin-bottom: 40px;
}
div.input-section > div.input-and-submit-flex {
  display: inline-flex;
}
div.input-section > div.input-and-submit-flex > div.suggestions-wrapper {
  order: 1;
  font-size: larger;
  font-family: monospace;
  color: rgba(255, 255, 255, 0.7);
}
div.input-section > div.input-and-submit-flex > div.suggestions-wrapper > ul.suggestions {
  margin: auto;
}
div.input-section > div.input-and-submit-flex > button {
  margin-left: 15px;
}
div.input-section > div.input-and-submit-flex > button::after {
  content: "Submit";
}
div.input-section > div.input-and-submit-flex > button.warn::after {
  content: "Overwrite";
}

.radio-option[class~=on] {
  background-color: #3d5afe;
  color: white;
  font-weight: 200;
}
.radio-option[class~=off] {
  background-color: rgba(255, 255, 255, 0);
  border-style: solid;
  border-color: rgba(255, 255, 255, 0.5);
  border-width: 2px;
  color: rgba(255, 255, 255, 0.5);
  cursor: pointer;
  font-weight: 300;
}

.toggle-btn[class~=on] {
  background-color: #3d5afe;
  color: white;
  text-align: right;
}
.toggle-btn[class~=off] {
  background-color: rgba(255, 255, 255, 0);
  border-style: solid;
  border-color: rgba(255, 255, 255, 0.5);
  border-width: 2px;
  color: rgba(255, 255, 255, 0.5);
  text-align: left;
}
.toggle-btn:after {
  content: "·";
}

@keyframes my_select_onfocus {
  0% {
    box-shadow: 0px 0px 0px 0px darkgrey;
  }
  100% {
    box-shadow: 0px 0px 15px 5px #333;
  }
}
.mid-v-align-container {
  display: table;
  height: 100%;
}

.mid-v-align {
  vertical-align: middle;
  display: table-cell;
}

.subtitle, .subtitle > div {
  color: rgba(255, 255, 255, 0.75);
  font-family: "Roboto Thin", serif;
  font-size: 1.125vw;
}

.autocomplete {
  color: white;
}

#swal2-content, .swal2-input, #swal2-content > p {
  color: #595959;
}
#swal2-content.clickable, .swal2-input.clickable, #swal2-content > p.clickable {
  font-size: x-large;
  margin: 10px 40%;
  background: #ddd;
  padding: 5px;
  border-radius: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: #bbb;
}
#swal2-content.clickable:hover, .swal2-input.clickable:hover, #swal2-content > p.clickable:hover {
  box-shadow: 0px 4px 3px #aaa;
}

.unclickable, button:not([class~=swal2]).inactive, div#app div#sidebar > span.sidebar-item.selected, .radio-option[class~=on] {
  cursor: unset;
  pointer-events: none;
}

.clickable {
  cursor: pointer;
}

.lightpink {
  color: #ffcfff;
}

.lightgreen {
  color: #cfffcf;
}

.opac0 {
  opacity: 0;
}

.opac1 {
  opacity: 1;
}

button#start_experiment_button {
  margin: auto auto 0 0;
}

div#dialog {
  text-align: center;
  font-size: 66px;
}

/*# sourceMappingURL=data:application/json;charset=utf-8,%7B%22version%22:3,%22sourceRoot%22:%22%22,%22sources%22:%5B%22index.sass%22,%22new.sass%22%5D,%22names%22:%5B%5D,%22mappings%22:%22;AAAA;EACC;EACA;;AAGD;EACC;EACA;;AAGD;EACC;EACA;;AAED;EACC;;;AAED;EACC;EACA;EAEC;EAED;EACA;;;AAYD;EAEE;EACA;EACA;EACA;EAGA;EACA;EACD;EACA;;AAEA;EACC;;;AAEF;EAEE;EACA;EACA;EACA;EAGA;EACA;EACA;EACD;EACA;;;AAED;EAEE;EACA;EACA;EACA;EAGA;EACA;EACA;EACD;;;AAGA;EAEC;;AAGA;EACC;;AAED;EACC;;AAGA;EACC;;;AAEJ;EACC;;AAEA;EACC;EACA;;AAED;EAEE;EACA;EACD;EACA;;AAMA;EACC;;AAGD;EACC;EACA;;AAGD;EACC;EACA;;AAIA;EACC;;;AAEJ;EAEE;EACA;EACD;EACA;EACA;;AAEA;EAEE;EACA;EACD;EACA;;AAED;EACC;EACA;;AAED;EACC;EACA;;;AAEF;EACC;EACA;EACA;EACA;EACA;EACA;EACA;EACA;;AAEA;EACC;;AAGD;EACC;;;AAKF;EACC;EACA;EAEA;;AAOA;EAEE;EACA;EAKD;EAGA;EACA;;AAEA;EACC;EACA;EAEA;;AAGD;EACC;;AAID;EACC;;;AAGH;EACC;;AAEA;EAGG;EACA;EACD;EAED;EACA;EACA;;AAMA;EAEC;EACA;EAEA;EACA;;AAEA;EACC;;AAGH;EAEC;EACA;;;AAEF;EACC;;AAEA;EACC;;AAEA;EACC;EAEC;EACA;EACD;;AAEA;EACC;;AAEF;EACC;;AAEA;EACC;;AAKA;EACC;;;AAwCJ;EAZC;EACA;EAaA;;AAGD;EAdC;EAEC;EACA;EACA;EACD;EAWA;EACA;;;AAID;EAxBC;EACA;EAyBA;;AAED;EAzBC;EAEC;EACA;EACA;EACD;EAsBA;;AAGD;EACC;;;AAGF;EACC;IACC;;EAED;IACC;;;AAGF;EACC;EACA;;;AAGD;EACC;EACA;;;AAGD;EACC;EACA;EACA;;;AAGD;EACC;;;AAGD;EACC;;AAEA;EACC;EACA;EACA;EACA;EAEC;EACA;EACA;EACA;;AAED;EACC;;;AAEH;EACC;EACA;;;AAED;EACC;;;AAGD;EACC;;;AAGD;EACC;;;AAGD;EACC;;;AAED;EACC;;;ACjZD;EACC;;;AAED;EACC;EAEC%22,%22file%22:%22index.css%22%7D */
