div#dialog
	text-align: center

	& > div.big
		font-size: 66px
		margin-bottom: 40px

	& > div.medium
		font-size: 36px

	& > div
		transition: opacity 2s ease-in-out

		opacity: 0

		&.on
			opacity: 1

ul#keyboard
	align-items: center
	height: 60vh
	list-style: none
	margin: auto
	opacity: 0
	padding: 0
	width: fit-content
	transition: opacity 1s ease-in-out
	display: flex


	&.active
		opacity: 1
	//display: flex

	[class*=key]
		align-items: flex-end
		border-radius: 5px
		box-shadow: 0px 3px 5px #666
		display: flex
		justify-content: center
		padding-bottom: 10px

		&.on
			background: red

	--blackWidth: 36px
	--blackHeight: 140px

	& > li.key
		background: #fffff0
		border: 1px solid black
		cursor: pointer
		font-weight: bold
		height: calc(var(--blackHeight) + 70px)
		position: relative
		width: calc(var(--blackWidth) + 10px)

		&:last-child
			border-right: 1px solid black

	div.black-key
		background: black
		color: white
		height: var(--blackHeight)
		left: 37.5px
		position: absolute
		top: -1px
		width: var(--blackWidth)
		z-index: 999

video
	opacity: 0
	transition: opacity 1000ms ease-in-out

	&.active
		opacity: 1
